@font-face{
	font-family:"my-font";
	src:url("open.ttf");
}
.container{
	font-family:"my-font";
}
.banner{
	
	font-size:50px;
	color:#555;
}
.buttons{
	height:80px;
}
.main{
	font-size:70px;
	color:#555;

}