@font-face{
	font-family:"my-font";
	src:url("open.ttf");
}
.main{
	font-family:"my-font";

}
.banner{
	font-family: "my-font";
	font-size: 50px;
	color:#555;
}
body{
	 background: url('./images/B5.jpg');
	background-size: 1500px 102000px;
}